<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
        <encoder> 
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender"> 
        <file>runtime.log</file> 
        <param name="append" value="false" />
        <encoder> 
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder> 
    </appender> 
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <param name="QueueCapacity" value="5000"/>
        <param name="IncludeCallerData" value="true"/>
        <appender-ref ref="FILE"/>
    </appender>
    <root level="TRACE">
        <appender-ref ref="CONSOLE" /> 
        <appender-ref ref="ASYNC" /> 
    </root>
</configuration>