/paper.aux
/paper.dvi
/paper.lof
/paper.lot
/paper.pdf
/paper.toc
/paper.log
/paper.tex~
/RDS1.txt-1582.aux
/RDS1.txt-1582.tex.aux
/RDS2.txt-8948.aux
/RDS2.txt-8948.tex.aux
/RDS3.txt-11697.aux
/RDS3.txt-11697.tex.aux
/TOY.txt-808.aux
/TOY.txt-808.tex.aux
/RDS1.txt-1386.aux
/RDS2.txt-7337.aux
/RDS3.txt-10563.aux
/RDS1-1584.aux
/RDS2-9235.aux
/RDS3-13338.aux
/TOY-808.aux
/RDS1-1435.aux
/RDS2-8097.aux
/RDS3-10617.aux
